# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="mongodb+srv://<username>:<password>@cluster1.xyz.mongodb.net/ratings"

NEXT_PUBLIC_TMDB_KEY='your_api_key'

NEXT_PUBLIC_API='http://localhost:3000'
NEXTAUTH_SECRET="your_secret"